PORT=3009
NODE_ENV=development

SUPABASE_URL=supabase-url
SUPABASE_SERVICE_ROLE_KEY=supabase-service-role-key

# Rate limiting properties: 100 requests per 60000ms window configuration
GLOBAL_RATE_LIMIT_MAX=100
GLOBAL_RATE_LIMIT_WINDOW_MS=60000